<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mis Mascotas</title>
    <link rel="stylesheet" href="../../src/css/mascotas.css">
</head>

<body>

    <header>
        <h1>Mis Mascotas</h1>
    </header>

    <main class="main-contenedor">
        <section class="img-section">
            <article class="img-contenedor">
                <img src="../../public/img/leontitle.webp" alt="Leon">
                <h3>Rex</h3>
                <p>Rex es el rey de la casa, imponente pero con un corazón enorme..</p>
            </article>

            <article class="img-contenedor">
                <img src="../../public/img/perro.webp" alt="perro">
                <h3>Lup</h3>
                <p>Lup es el mejor compañero que existe, siempre listo para una aventura..</p>
            </article>

            <article class="img-contenedor">
                <img src="../../public/img/cone.webp" alt="Conejo">
                <h3>Coco</h3>
                <p>Coco es pequeño pero lleno de personalidad, nunca para quieto..</p>
            </article>
            <article class="img-contenedor">
                <img src="../../public/img/aguila.webp" alt="aguila">
                <h3>Beer</h3>
                <p>Beer tiene una mirada feroz pero es el más noble de todos.</p>
            </article>
            <article class="img-contenedor">
                <img src="../../public/img/oso.webp" alt="oso">
                <h3>Pilon</h3>
                <p>Pilon es grande, tranquilo y protector, un gigante de buen corazón..</p>
            </article>
            <article class="img-contenedor">
                <img src="../../public/img/delfin1.webp" alt="delfin">
                <h3>Murphy</h3>
                <p>Murphy es el más inteligente y juguetón, siempre sorprende a todos.</p>
            </article>
        </section>

        <!-- Enlace de regreso -->
        <div= id="Volver">

            <a href="../../index.html">← Volver al portafolio</a>

            </div>

    </main>

    <footer>
        <p>© 2026 Milton Escamilla</p>
    </footer>

</body>

</html>