<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mis Mascotas</title>
    <link rel="stylesheet" href="/src/css/mascotas.css">
</head>

<body>

    <header>
        <h1>Mis Mascotas</h1>
    </header>

    <main class="main-contenedor">
        <section class="img-section">
            <article class="img-contenedor">
                <img src="/public/img/leon.jpg" alt="Leon">
                <h3>Rex</h3>
                <p>Rex es un leon muy juguetón y leal.</p>
            </article>

            <article class="img-contenedor">
                <img src="/public/img/perro.jpg" alt="perro">
                <h3>Lup</h3>
                <p>Lup es un perro muy juguetón y leal.</p>
            </article>

            <article class="img-contenedor">
                <img src="/public/img/cone.jpg" alt="Conejo">
                <h3>Coco</h3>
                <p>Coco es un conejo muy curioso.</p>
            </article>
              <article class="img-contenedor">
                <img src="/public/img/aguila.jpg" alt="aguila">
                <h3>Beer</h3>
                <p>Beer es un aguila muy curioso.</p>
            </article>
              <article class="img-contenedor">
                <img src="/public/img/oso.jpg" alt="oso">
                <h3>Pilon</h3>
                <p>Pilon es un oso muy curioso.</p>
            </article>
              <article class="img-contenedor">
                <img src="/public/img/delfin1.jpg" alt="delfin">
                <h3>Murphy</h3>
                <p>Murphy es un delfin muy curioso.</p>
            </article>
        </section>

        <!-- Enlace de regreso -->
        <a href="/index.html">← Volver al portafolio</a>

    </main>

    <footer>
        <p>© 2026 Milton Escamilla</p>
    </footer>

</body>

</html>