/* Estilos para la foto de perfil */
.hero {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 40px 20px;
    text-align: start;
    box-shadow: 0 4px 15px rgba(255, 0, 0, 0.2);
    margin-top: 16px;
}





.hero-title {
    display: grid;
    grid-row: 500px;
    grid-template-columns: max-content;
    grid-template-rows: subgrid;
    gap: 1rem;

}


.hero-img {
    height: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #696262;
    box-shadow: 0 10px 15px rgba(251, 1, 1, 0.2);


}

img {
    display: flex;
    align-items: center;
    margin-left: 0%;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid #000000;
    box-shadow: 0 4px 15px rgba(255, 0, 0, 0.2);
    margin-top: 16px;
}

.sobre-mi-texto {
    max-width: 500px;
}

#riwi {
    display: flex;
    position: fixed;
    background-color: black;
    top: 850px;
    right: 20px;
    width: 150px;
    height: auto;
    border-radius: 100px;
    border: 2px solid #ccc;
}


#proyectos {
display: grid;

}

#contacto {
    box-shadow: 0 4px 15px rgba(255, 0, 0, 0.2);
    margin-top: 16px;



}

