/* Header */
header{
 display: flex;
    justify-content: space-around;
    align-items: baseline;
    flex-wrap: wrap;
    background-color: #000000;
    color: #fff;
    padding: 10px;
    text-align: center;
    position: sticky;
    top: 0;
    flex-wrap: wrap;
    
}
/* Cuerpo */
body {
    background-color: #736d6d;
    font-family: Arial, sans-serif;
    color: #ffffff;
}

.main-contenedor {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    background: rgba(0, 0, 0, 0.7);
    padding: 4rem;
}

.img-section {
    display: grid;
    grid-template-columns: 2fr 2fr;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   gap: 20px;

}

.img-contenedor img{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30rem;
    width: 400px;
}

footer {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 10px;
    margin-top: 10px;
}
